@inherits Common.Core.Blazor.ComponentBaseCore
@inject HttpClient Http
@page "/secretspage"

<h1>Secrets</h1>

<p>List of Secrets</p>

@if (Applications == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<div class="table-responsive">*@
    <div class="container-fluid pr-0 pl-0">
        <div class="row">
            <div class="col-sm-auto btn-group d-inline pl-3" style="margin-right:auto" >
                <div type="button" class="d-inline rounded" style="vertical-align:baseline;border: 1px solid #dee2e6;padding:6px 12px" 
                     id="navAdd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @onclick="() => AddApplication()" >
                    <img src="06. Add.svg" class="rounded align-self-start mr-1 mb-1 text-white" style="width:18px;height:18px" />Add
                </div>
                @*<nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item"><a href="#" ><img src="06. Add.svg" class="rounded align-self-start mr-1 mb-1 text-white" style="width:18px;height:18px" />Add</a></li>
                    </ul>
                  </nav>*@
            </div>
            @*<button type="button" class="btn btn-outline-secondary" style="margin-right:auto" ><img src="06. Add.svg" class="rounded align-self-start mr-1 mb-1 text-white" style="width:18px;height:18px">Add</button>*@
            <div class="col-sm-auto">
                <input type="search" class="form-control ds-input d-inline pr-0" id="search-input"
                       placeholder="Search..." aria-label="Search..." autocomplete="off" spellcheck="false"
                       aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0"
                       dir="auto">
            </div>
            @*style="position: relative; vertical-align: top; user-select: auto;" role="combobox" *@
            @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*@
            <div role="group" class="col-sm-auto btn-group dropdown d-inline">
                <div type="button" class="btn dropdown-toggle d-inline" style="vertical-align:baseline;border: 1px solid #dee2e6" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Show 10 items
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <div class="dropdown-item">10 items</div>
                    <div class="dropdown-item">20 items</div>
                    <div class="dropdown-item">50 items</div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item">All items</div>
                </div>
            </div>
            <div class="col-sm-auto pl-0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <table class="table caption-top table-sm table-striped table-bordered table-hover">
        @*<caption>List of users for  @ApplicationState?.Application?.Description application</caption>*@
        <thead class="table-dark text-center no-hover bg-dark" >
            <tr>
                @*
        fa fa-fw fa-sort
        fas fa-sort-up
        fas fa-sort-down
        style="max-width:65px"
                *@
                <th class="w-auto pl-0 pr-0 ml-0 mr-0">Commands</th>
                <th>Is enabled </th>
                <th>Description </th>
                <th>Owner </th>
                <th>Users </th>
                <th>ID  <i class="fas fa-sort-up"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in Applications)
            {
            <tr class="@(app?.ApplicationId==Application?.ApplicationId ? "table-active" : null)  w-auto" @onclick="() => SelectApplication(app)">
                <td role="group" class="btn-group btn-group-sm w-auto border-0">
                    @*<div type="button" class="btn oi oi-pencil active d-inline" @onclick="() => EditApplication(app)"></div>*@
                    <div type="button" class="btn fa fa-trash d-inline" @onclick="() => DeleteApplication(app)"></div>
                    <div type="button" class="btn dropdown-toggle d-inline pb-0" style="vertical-align:baseline" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        ...
                    </div>
    @*oi oi-pencil*@
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        @* <div class="dropdown-item" @onclick="() => NavigateUsers()">Users</div>
                        <div class="dropdown-item" @onclick="() => NavigateRoles()">Roles</div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item" @onclick="() => EditApplication(app)">Edit application</div> *@
                        @* <div class="dropdown-item fa fa-trash"></div>*@
                    </div>
                </td>
                <td>@app.IsEnabled</td>
                <td>@app.Description</td>
                <td>@app.Owner</td>
                <td>...</td>
                <td>@app.ApplicationId</td>
            </tr>
            }
        </tbody>
        <tfoot class="table-light">
            <tr>
                <td colspan="4">found @Applications?.Count @(Applications?.Count!=1 ? "appplications" : "appplication")</td>
            </tr>
        </tfoot>
    </table>
    @*</div>*@
}

